<% include ./header.ejs %>

<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><%= language.section_header.heading%><span><<%= language.section_header.exclamationMark%></span></div>
                <div class="intro-content"><%= language.section_header.content%></div>
                <a href="#businessArea" class="page-scroll btn btn-xl2" onmouseover="mOver(this)" onmouseout="mOut(this)">
                    <img id ="myImage" src="/public/img/arrow.png">
                </a>
            </div>
        </div>
    </header>

    





    <!-- businessArea Section -->
    <section id="businessArea" class="bg-light-gray"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><%= language.businessArea.title%></h2>
                    <span class="sub-title" id="businessArea_sub_title"></span>
                </div>

                <div class="col-lg-12 business_content">
                    <!-- left content-->
                    <div class="col-md-8 imgdiv">
                        <% if(language.langver === 'kr') {%>
                            <img class="business_img" src="/public/img/bussinesArea/globalimg.png" />
                        <% }else if(language.langver === 'jp') {%>
                             <img class="business_img" src="/public/img/bussinesArea/globalimg_jp.png" />
                        <% } else { %>
                            <img class="business_img" src="/public/img/bussinesArea/globalimg_en.png" />
                        <% } %>
                    </div>
                    <!-- right content-->
                    <div class="col-md-4 business_text">
                        <div class="contnet_1">
                            <ul>
                                <li><%= language.businessArea.content_1_1%></li>
                                <li><%= language.businessArea.content_1_2%></li>
                                <li><%= language.businessArea.content_1_3%></li>
                            </ul>
                        </div>
                        <div class="contnet_2">
                            <ul>
                                <li><%= language.businessArea.content_2_1%></li>
                                <li><%= language.businessArea.content_2_2%></li>
                                <li><%= language.businessArea.content_2_3%><br/>&nbsp;&nbsp;&nbsp;<%= language.businessArea.content_2_4%></li>
                            </ul>
                        </div>
                        <div class="contnet_3">
                            <ul>
                                <li><%= language.businessArea.content_3_1%></li>
                                <li><%= language.businessArea.content_3_2%></li>
                                <li><%= language.businessArea.content_3_3%></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>



        <!-- https://www.w3schools.com/bootstrap/bootstrap_modal.asp -->
    <!-- https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_pills_dynamic&stacked=h -->


    <!-- productOverview Section -->
    <section id="productOverview">
        <div class="container">
            <div class="row title">
               <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><%= language.productOverview.title%></h2>
                </div>
            </div>

            <!--Dynamic Pills -->
            <div id="tabmenu" >
                <ul class="nav nav-pills menulist">
                    <li class="active"><a data-toggle="pill" href="#menu1"><%= language.productOverview.menu1%></a></li>
                    <li><a data-toggle="pill" href="#menu2"><%= language.productOverview.menu2%></a></li>
                    <li><a data-toggle="pill" href="#menu3"><%= language.productOverview.menu3%></a></li>
                    <li><a data-toggle="pill" href="#menu4"><%= language.productOverview.menu4%></a></li>
                    <li><a data-toggle="pill" href="#menu5"><%= language.productOverview.menu5%></a></li>
                </ul>

                <div class="tab-content">

                    <!-- menu1 --> 
                    <div id="menu1" class="tab-pane fade in active">

                        <!-- title -->
                        <div class="titleDiv">
                            <span class="title">
                                <img class="logoid" src="/public/img/productouverview/Ap_Tool_autosario-logo.png" />
                                <%= language.productOverview.menu1_title%>
                            </span>
                            <span class="subtitle"><%= language.productOverview.menu1_sub_title%></span>
                        </div>
                        
                        <!-- content -->
                        <div class="row imageArea">
                            <div class="col-md-8">
                                <!-- Trigger the modal with a button  -->
                                <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                                    <% if(language.langver === 'kr') {%>
                                        <img id="menuChangeImage" src="/public/img/productouverview/Ap_Tool_img1.png"/>
                                    <% } else if(language.langver === 'jp') {%>
                                        <img id="menuChangeImage" src="/public/img/productouverview/Ap_Tool_img1_jp.png"/>
                                    <% } else { %>
                                        <img id="menuChangeImage" src="/public/img/productouverview/Ap_Tool_img1_en.png"/>
                                    <% } %>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                           
                                           
                                            <img src="/public/img/productouverview/ToolUi.JPG" class="" width="500px"/>
                                        </div>
                                    </div>
                                </div> 
  
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <!-- Trigger the modal with a button --> 
                                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal_2">
                                        <% if(language.langver === 'kr') {%>
                                            <img src="/public/img/productouverview/Ap_Tool_img2.png"/>
                                        <% } else if(language.langver === 'jp') {%>
                                            <img src="/public/img/productouverview/Ap_Tool_img2_jp.png"/>
                                        <% } else { %>
                                            <img src="/public/img/productouverview/Ap_Tool_img2_en.png"/>
                                        <% } %>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal_2" role="dialog">
                                        <div class="modal-dialog">
                                            <img src="/public/img/productouverview/img2.png"/>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <!-- Trigger the modal with a button --> 
                                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal_3">
                                        <% if(language.langver === 'kr') {%>
                                            <img src="/public/img/productouverview/Ap_Tool_img3.png"/>
                                        <% } else if(language.langver === 'jp') {%>
                                            <img src="/public/img/productouverview/Ap_Tool_img3_jp.png"/>
                                        <% } else { %>
                                            <img src="/public/img/productouverview/Ap_Tool_img3_en.png"/>
                                        <% } %>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal_3" role="dialog">
                                        <div class="modal-dialog">
                                            <img src="/public/img/productouverview/img3.png"/> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                        <div class="row textDiv">
                            <div class="col-md-4">
                                <ul>
                                    <li class="textTitle"><%= language.productOverview.menu1_text_title1%></li>
                                    <li class="textContent"><%= language.productOverview.menu1_text_content1_1%></li>
                                    <li class="textContent"><%= language.productOverview.menu1_text_content1_2%></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <li class="textTitle"><%= language.productOverview.menu1_text_title2%></li>
                                    <li class="textContent"><%= language.productOverview.menu1_text_content2_1%></li>
                                    <li class="textContent"><%= language.productOverview.menu1_text_content2_2_1%><br/>
                                        &nbsp;&nbsp;&nbsp;<%= language.productOverview.menu1_text_content2_2_2%> <br/>
                                        &nbsp;&nbsp;&nbsp;<%= language.productOverview.menu1_text_content2_2_3%></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <li class="textTitle"><%= language.productOverview.menu1_text_title3%></li>
                                    <li class="textContent"><%= language.productOverview.menu1_text_content3_1%></li>
                                    <li class="textContent"><%= language.productOverview.menu1_text_content3_2%></li>
                                    <li class="textContent"><%= language.productOverview.menu1_text_content3_3%></li>
                                </ul>
                            </div>
                        </div>

                        <!-- footer -->
                        <div class="row productFooter">
                            <div class="productFooter_header"> <span><%= language.contactFooter.title1%></span> </div>
                            <div class="productFooter_body">
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content1%></span>
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content2%></span>
                            </div>
                        </div>
                    </div>

                    <!-- menu2 -->
                    <div id="menu2" class="tab-pane fade">

                        <!-- title -->
                        <div class="titleDiv">
                             <span class="title">
                                <%= language.productOverview.menu2_title%>
                            </span>
                        </div>

                        <!-- content -->
                        <div class="row imageArea">
                            <% if(language.langver === 'kr') {%>
                                <img  src="/public/img/productouverview/menu_2.png"/>
                            <% }else if(language.langver === 'jp') {%>
                                <img  src="/public/img/productouverview/menu_2_jp.png"/>
                            <% } else { %>
                                <img  src="/public/img/productouverview/menu_2_en.png"/>
                            <% } %>
                        </div>

                        <div class="row textDiv">
                             <span class="textTitle"><%= language.productOverview.menu2_text_title1%></span><br/>
                             <span class="textContent"><%= language.productOverview.menu2_text_content1_1%><br/>
                                <%= language.productOverview.menu2_text_content1_2%><br/>
                                <%= language.productOverview.menu2_text_content1_3%>
                            </span>
                        </div>

                        <!-- footer -->
                        <div class="row productFooter">
                            <div class="productFooter_header"> <span><%= language.contactFooter.title1%></span> </div>
                            <div class="productFooter_body">
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content1%></span>
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content2%></span>
                            </div>
                        </div>
                    </div>

                    <!-- menu3 -->
                    <div id="menu3" class="tab-pane fade">

                        <!-- title -->
                        <div class="titleDiv">
                            <span class="title">
                               <%= language.productOverview.menu3_title%>
                            </span>
                            <span class="subtitle">
                                <%= language.productOverview.menu3_sub_title1_1%><br/>
                                <span id="menu3_sub_title1_2"></span><br/>
                                <%= language.productOverview.menu3_sub_title1_3%>
                            </span>
                        </div>

                        <!-- cotent -->
                        <div class="row menu3_content">
                            <div class="col-md-7 imageArea">
                                <% if(language.langver === 'kr') {%>
                                    <img  src="/public/img/productouverview/menu_3.png"/>
                                <% }else if(language.langver === 'jp') {%>
                                    <img  src="/public/img/productouverview/menu_3_jp.png"/>
                                <% } else { %>
                                    <img  src="/public/img/productouverview/menu_3_en.png"/>
                                <% } %>
                            </div>

                            <div class="col-md-5 textDiv">
                                <ul>
                                    <li class="textTitle"><%= language.productOverview.menu3_text_title1%></li>
                                    <li class="textContent"><%= language.productOverview.menu3_text_content1%></li>
                                    <li class="textContent"><%= language.productOverview.menu3_text_content2%></li>
                                    <li class="textContent"><%= language.productOverview.menu3_text_content3%></li>
                                    <li class="textContent">
                                        <ul class="secUl">
                                            <li><%= language.productOverview.menu3_text_content4_1%></li>
                                            <li><%= language.productOverview.menu3_text_content4_2%></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                         <!-- footer -->
                        <div class="row productFooter">
                            <div class="productFooter_header"> <span><%= language.contactFooter.title1%></span> </div>
                            <div class="productFooter_body">
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content1%></span>
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content2%></span>
                            </div>
                        </div>
                    </div>

                    <!-- menu4 -->
                    <div id="menu4" class="tab-pane fade">

                        <!-- title -->
                        <div class="titleDiv">
                            <span class="title">
                                <%= language.productOverview.menu4_title%>
                            </span>
                        </div>

                        <!-- content -->
                        <div class="row imageArea">
                            <% if(language.langver === 'kr') {%>
                                <img  src="/public/img/productouverview/menu_4.png"/>
                            <% }else if(language.langver === 'jp') {%>
                                <img  src="/public/img/productouverview/menu_4_jp.png"/>
                            <% } else { %>
                                <img  src="/public/img/productouverview/menu_4_en.png"/>
                            <% } %>
                        </div>

                        <div class="row textDiv">
                            <div class="col-md-6 textTitle"><%= language.productOverview.menu4_text_title1%></div>
                            <div class="col-md-6 textTitle"><%= language.productOverview.menu4_text_title2%></div>
                        </div>

                        <!-- footer -->
                        <div class="row productFooter">
                            <div class="productFooter_header"> <span><%= language.contactFooter.title1%></span> </div>
                            <div class="productFooter_body">
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content1%></span>
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content2%></span>
                            </div>
                        </div>
                    </div>

                    <!-- menu5 -->
                    <div id="menu5" class="tab-pane fade">

                       <!-- title -->
                        <div class="titleDiv">
                            <span class="title">
                                <%= language.productOverview.menu5_title%>
                            </span>
                            <span class="subtitle">
                               <%= language.productOverview.menu5_sub_title%>
                            </span>
                        </div>

                        <!-- content -->
                        <div class="row menu3_content">
                            <div class="col-md-6 textDiv">
                                 <ul>
                                    <li class="textTitle"><%= language.productOverview.menu5_text_title1%></li>
                                    <li class="textContent"><%= language.productOverview.menu5_text_content1_1%></li>
                                    <li class="textContent"><%= language.productOverview.menu5_text_content1_2%></li>
                                    <li class="textContent"><%= language.productOverview.menu5_text_content1_3%></li>
                                    <% if( language.productOverview.menu5_text_content1_4){%>
                                        <li class="textContent"><%= language.productOverview.menu5_text_content1_4%></li>
                                    <% } %>
                                </ul>
                                 <ul>
                                    <li class="textTitle"><%= language.productOverview.menu5_text_title2%></li>
                                    &nbsp;&nbsp;<li class="textContent"><%= language.productOverview.menu5_text_content2_1%></li>
                                    <li class="textContent"><%= language.productOverview.menu5_text_content2_2%></li>
                                    <li class="textContent"><%= language.productOverview.menu5_text_content2_3%></li>
                                </ul>
                            </div>

                            <div class="col-md-6 imageArea">
                                <img  src="/public/img/productouverview/menu_5.png"/>
                                <span class="toolVer"><%= language.productOverview.menu5_tool_ver%></span>
                            </div>
                        </div>

                        <!-- footer -->
                        <div class="row productFooter">
                            <div class="productFooter_header"> <span><%= language.contactFooter.title1%></span> </div>
                            <div class="productFooter_body">
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content1%></span>
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content2%></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </section>
    
    <!-- servieceOverview Section -->
    <section id="servieceOverview">
        <div class="container">
            <div class="row title">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><%= language.serviceOverview.title%></h2>
                </div>
            </div>

            <!--Dynamic Pills -->
            <div id="tabmenu" >
                <ul class="nav nav-pills menulist">
                    <li class="active"><a data-toggle="pill" href="#menu6"><%= language.serviceOverview.menu6%></a></li>
                    <li><a data-toggle="pill" href="#menu7"><%= language.serviceOverview.menu7%></a></li>
                    <li><a data-toggle="pill" href="#menu8"><%= language.serviceOverview.menu8%></a></li>
                </ul>


                <div class="tab-content">

                    <!-- menu6 --> 
                    <div id="menu6" class="tab-pane fade in active">

                        <!-- title --> 
                        <div class="titleDiv">
                            <span class="title">
                                <%= language.serviceOverview.menu6_title%>
                            </span>
                            <div>
                                <ul>
                                    <li class="textTitle"><%= language.serviceOverview.menu6_text_title1%></li>
                                    <li class="textContent"><%= language.serviceOverview.menu6_text_content1_1%></li>
                                    <li class="textContent"><%= language.serviceOverview.menu6_text_content1_2%></li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- content -->
                        <div class="content">
                            <!-- content title-->
                            <div class="row contentTitle">
                                <div class="col-md-9"><span class="textTitle"><%= language.serviceOverview.menu6_text_title2%></span></div>
                                <div class="col-md-3"><span class="textTitle"><%= language.serviceOverview.menu6_text_title3%></span></div>
                            </div>
                            <!-- content card-->
                            <div class="row contentCard">
                                <!-- content card_1-->
                                <div class ="col-md-3 card">
                                    <div class="card-header">
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_1%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_1_1%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_1_2%></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_1_1%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_1_3%></li>
                                            <li class="textContent">&nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content2_1_4%></li>
                                        </ul>
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_1_2%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_1_5%></li>
                                        </ul>
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_1_3%></li>
                                            <li class="textContent" id="serviceOverview_menu6_text_content2_1_6"></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- content card_2-->
                                <div class ="col-md-3 card">
                                    <div class="card-header">
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_2%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_2_1%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_2_2%></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_2_1%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_2_3%></li>
                                            <li class="textContent">&nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content2_2_4%></li>
                                        </ul>
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_2_2%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_2_5%></li>
                                        </ul>
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_2_3%></li>
                                            <li class="textContent" id="serviceOverview_menu6_text_content2_2_6"></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- content card_3 -->
                                <div class ="col-md-3 card">
                                    <div class="card-header">
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_3%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_3_1%></li>
                                            <li class="textContent" id="serviceOverview_menu6_text_content2_3_2"></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_3_1%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_3_3%><br/>
                                            <li class="textContent">&nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content2_3_4%></li>
                                        </ul>
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title2_3_2%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content2_3_5%>
                                                &nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content2_3_6%><br/>
                                                <%= language.serviceOverview.menu6_text_content2_3_7%>
                                                &nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content2_3_8%><br/>
                                                <%= language.serviceOverview.menu6_text_content2_3_9%> 
                                                &nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content2_3_10%><br/>
                                                <%= language.serviceOverview.menu6_text_content2_3_11%><br/>
                                                &nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content2_3_12%><br/>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- content card_4 -->
                                <div class ="col-md-3 card">
                                    <div class="card-header">
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title3_1%></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title3_1_1%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content3_1_1%> <br/>
                                            <li class="textContent">&nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content3_1_2%></li>
                                        </ul>
                                        <ul>
                                            <li class="textTitle"><%= language.serviceOverview.menu6_text_title3_1_2%></li>
                                            <li class="textContent"><%= language.serviceOverview.menu6_text_content3_1_3%>
                                                &nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content3_1_4%><br/>
                                                <%= language.serviceOverview.menu6_text_content3_1_5%>
                                                &nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content3_1_6%><br/>
                                                <%= language.serviceOverview.menu6_text_content3_1_7%>
                                                &nbsp;&nbsp;<%= language.serviceOverview.menu6_text_content3_1_8%><br/>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- footer --> 
                        <div class="row productFooter">
                            <div class="productFooter_header"> <span><%= language.contactFooter.title2%></span> </div>
                            <div class="productFooter_body">
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content1%></span>
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content2%></span>
                            </div>
                        </div>

                    </div>

                    <!-- menu7 --> 
                    <div id="menu7" class="tab-pane fade in">

                        <!-- title --> 
                        <div class="titleDiv">
                            <span class="title">
                                <%= language.serviceOverview.menu7_title%>
                            </span>
                            <span class="subtitle">
                                <%= language.serviceOverview.menu7_sub_title1%><br/>
                                <%= language.serviceOverview.menu7_sub_title2%><br/>
                                <%= language.serviceOverview.menu7_sub_title3%><br/>
                            </span>
                        </div>

                        <!-- content -->
                        <div class="row imageArea">
                            <% if(language.langver === 'kr' || language.langver === 'en') {%>
                                <img src="/public/img/serviceOverview/main_6.png"/>
                            <% }else if(language.langver === 'jp') {%>
                                <img src="/public/img/serviceOverview/main_6_jp.png"/>
                            <% } %>
                        </div>

                        <div class="row textDiv">
                            <ul>
                                <li class="textTitle"><%= language.serviceOverview.menu7_text_title1%></li>
                                <li class="textContent"><%= language.serviceOverview.menu7_text_content1_1%></li>
                                <li class="textContent"><%= language.serviceOverview.menu7_text_content1_2%></li>
                                <li class="textContent"><%= language.serviceOverview.menu7_text_content1_3%></li>
                            </ul>
                        </div>

                        <!-- footer --> 
                        <div class="row productFooter">
                            <div class="productFooter_header"> <span><%= language.contactFooter.title3%></span> </div>
                            <div class="productFooter_body">
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content1%></span>
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content2%></span>
                            </div>
                        </div>
                    </div>

                    <!-- menu8 --> 
                    <div id="menu8" class="tab-pane fade in">
                        
                        <!-- title --> 
                        <div class="titleDiv">
                            <span class="title">
                                <%= language.serviceOverview.menu8_title%>
                            </span>
                            <span class="subtitle" id="serviceOverview_menu8_sub_title"></span>
                        </div>

                        <!-- content -->
                        <div class="imageArea">
                            <% if(language.langver === 'kr') {%>
                                <img src="/public/img/serviceOverview/main_7-1.png"/>
                                <img src="/public/img/serviceOverview/main_7-2.png"/>
                            <% }else if(language.langver === 'jp') {%>
                                <img src="/public/img/serviceOverview/main_7-1_jp.png"/>
                                <img src="/public/img/serviceOverview/main_7-2_jp.png"/>
                            <% } else { %>
                                <img src="/public/img/serviceOverview/main_7-1_en.png"/>
                                <img src="/public/img/serviceOverview/main_7-2_en.png"/>
                            <% } %>
                        </div>

                        <!-- footer -->
                        <div class="row productFooter">
                            <div class="productFooter_header"> <span><%= language.contactFooter.title4%></span> </div>
                            <div class="productFooter_body">
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content1%></span>
                                <img src="/public/img/productouverview/bar.png"> <span><%= language.contactFooter.content2%></span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- companyinfo Section -->
    <section id="companyinfo">
        <div class="container">
            <div class="row compadiv01">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" ><%= language.companyInfo.title%></h2>
                </div>
            </div>
            <div class="row infocontent">
                <div class="col-md-6 laptop">
                   <img src="/public/img/companyinfo/labtopbox.png"/>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><%= language.companyInfo.subTitle%></li>
                        <li><%= language.companyInfo.content_1%></li>
                        <li><%= language.companyInfo.content_2%></li>
                        <li><%= language.companyInfo.content_3%></li>
                        <li><%= language.companyInfo.content_4%></li>
                        <% if( language.companyInfo.content_5){%>
                            <li><%= language.companyInfo.content_5%></li>
                        <% } %>
                        <% if( language.companyInfo.content_6){%>
                            <li><%= language.companyInfo.content_6%></li>
                        <% } %>
                    </ul>
                    
                    <br/><br/>
                    <ul>
                        <li><%= language.contactUs.title%></li>
                        <li><%= language.contactUs.address%></li>
                        <li><%= language.contactUs.email%></li>
                        <li><%= language.contactUs.fax%></li>
                        <li><%= language.contactUs.tel%></li>
                    </ul>
                    
                   
                </div>
            </div>
            <div class="row membership">
                <div class="container">
                    <div class="row divsecond">
                        <div class="col-lg-12 member">
                            <img src="/public/img/icons/member.png" />
                        </div>
                        <div class="col-lg-12 text-center">
                            <div class="col-md-4 col-sm-4">
                                <a href="http://www.autosar.org/" target="_blank">
                                    <img src="/public/img/departmentlogo1.png" class="img-responsive img-centered" alt="">
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <a href="https://www.comasso.org/" target="_blank">
                                    <img src="/public/img/departmentlogo2.png" class="img-responsive img-centered" alt="">
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <a href="https://www.toppers.jp/" target="_blank">
                                    <img src="/public/img/departmentlogo3.png" class="img-responsive img-centered" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>

    $(document).ready(function(){

        $("#korea,#English,#Japanese").click(function(){
            
            var path = document.location.href;
            var language = $(this).attr("value");

            $.ajax({
                url : '/languageChange',
                type : 'POST',
                data : {
                    language : language
                }
            }).done(function(args){
                if (arge.message === 'success'){
                    document.location.href = path;
                } else {
                    // 성공적으로 변환 안됬을시 error메세지 출력하기.
                    document.location.href = path;
                }
            });
        });


        $(window).resize(function(){     
            if ( $('body').width() < 768 || $('body').width() < 1024 ){
                // is mobile device
                if("<%= language.langver%>"  === 'kr'){
                    $("#menuChangeImage").attr("src","/public/img/productouverview/Ap_Tool_img1_mobile.png");
                }else if ("<%= language.langver%>"  === 'jp'){
                    $("#menuChangeImage").attr("src","/public/img/productouverview/Ap_Tool_img1_mobile_jp.png");
                }else {
                    $("#menuChangeImage").attr("src","/public/img/productouverview/Ap_Tool_img1_mobile_en.png");
                }
            } else if (  $('body').width() > 1024 ){
                // is desktop device
                if("<%= language.langver%>"  === 'kr'){
                    $("#menuChangeImage").attr("src","/public/img/productouverview/Ap_Tool_img1.png");
                }else if ("<%= language.langver%>"  === 'jp'){
                    $("#menuChangeImage").attr("src","/public/img/productouverview/Ap_Tool_img1_jp.png");
                }else {
                    $("#menuChangeImage").attr("src","/public/img/productouverview/Ap_Tool_img1_en.png");
                }
            }
        });

        if ( $('body').width() < 768 || $('body').width() < 1024 ){
            // is mobile device
            if("<%= language.langver%>"  === 'kr'){
                $("#menuChangeImage").attr("src","/public/img/productouverview/Ap_Tool_img1_mobile.png");
            }else if ("<%= language.langver%>"  === 'jp'){
                $("#menuChangeImage").attr("src","/public/img/productouverview/Ap_Tool_img1_mobile_jp.png");
            }else {
                $("#menuChangeImage").attr("src","/public/img/productouverview/Ap_Tool_img1_mobile_en.png");
            }
        }
       


        var ba_sub_title = "<%= language.businessArea.sub_title%>"
        var str_ba_sub_title =ba_sub_title.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
        $("#businessArea_sub_title").html(str_ba_sub_title);
        
        var so_serviceOverview_menu6_text_content2_1_6 = "<%= language.serviceOverview.menu6_text_content2_1_6%>"
        var str_so_serviceOverview_menu6_text_content2_1_6 = so_serviceOverview_menu6_text_content2_1_6.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
        $("#serviceOverview_menu6_text_content2_1_6").html(str_so_serviceOverview_menu6_text_content2_1_6);

        var so_serviceOverview_menu6_text_content2_2_6 = "<%= language.serviceOverview.menu6_text_content2_2_6%>"
        var str_so_serviceOverview_menu6_text_content2_2_6 = so_serviceOverview_menu6_text_content2_2_6.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
        $("#serviceOverview_menu6_text_content2_2_6").html(str_so_serviceOverview_menu6_text_content2_2_6);

        var so_serviceOverview_menu8_sub_title = "<%= language.serviceOverview.menu8_sub_title%>"
        var str_so_serviceOverview_menu8_sub_title = so_serviceOverview_menu8_sub_title.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
        $("#serviceOverview_menu8_sub_title").html(str_so_serviceOverview_menu8_sub_title);

        var so_serviceOverview_menu6_text_content2_3_2 = "<%= language.serviceOverview.menu6_text_content2_3_2%>"
        var str_so_serviceOverview_menu6_text_content2_3_2 = so_serviceOverview_menu6_text_content2_3_2.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
        $("#serviceOverview_menu6_text_content2_3_2").html(str_so_serviceOverview_menu6_text_content2_3_2);

        var so_menu3_sub_title1_2= "<%= language.productOverview.menu3_sub_title1_2%>"
        var str_so_menu3_sub_title1_2 = so_menu3_sub_title1_2.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
        $("#menu3_sub_title1_2").html(str_so_menu3_sub_title1_2);
    });

    

</script>



<% include ./footer.ejs %>